<footer id="site-footer" class="site-footer footer-v1">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="widget-footer">
                    <h5 class="text-white">Services</h5>
                    <ul class="list-items">
                        <li class="list-item"><a href="web-development.html">Start a Business</a></li>
                        <li class="list-item"><a href="mobile-development.html">Licenses/ Registration:</a></li>
                        <li class="list-item"><a href="mobile-development.html">Labour Law Compliances</a></li>
                        <li class="list-item"><a href="it-services.html">Payroll Outsourcing</a></li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="widget-footer">
                    <h5 class="text-white">Knowledge Center</h5>
                    <ul class="list-items">
                        <li class="list-item"><a href="about-us.html">Govt. Notifications/ Circulars</a></li>
                        <li class="list-item"><a href="faq.html">Minimum Wages</a></li>
                        <li class="list-item"><a href="blog.html">Blogs</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="widget-footer">
                    <h5 class="text-white">Login</h5>
                    <ul class="list-items">
                        <li class="list-item"><a href="it-services.html">Client</a></li>
                        <li class="list-item"><a href="it-services.html">Team</a></li>
                        <li class="list-item"><a href="it-services.html">Admin</a></li>
                        <li class="list-item"><a href="it-services.html">Partner</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="widget-footer">
                    <h5 class="text-white">Subscribe</h5>
                    <p>Follow our newsletter to stay updated about agency.</p>
                    <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-1343" method="post">
                        <div class="mc4wp-form-fields">
                            <div class="subscribe-inner-form">
                                <input type="email" name="email" placeholder="Your Email" required="">
                                <button type="submit" class="subscribe-btn-icon"><i
                                        class="flaticon-telegram"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row mt-65">
            <div class="col-md-6 mb-4 mb-md-0">
                <img src="images/logo-light.png" alt="" class="lazyloaded" data-ll-status="loaded">
            </div>
            <div class="col-md-6 text-left text-md-right align-self-center">
                <p class="copyright-text">Copyright © 2020 Engitech by ThemeModern. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>