<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Rapport</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/royal-preload.css" />
    <style>
        .container p:first-child {
            margin-top: 50px;
        }


        h3 {
            font-size: 1.5rem;
        }

        .title {
            font-size: 1.2rem;
            padding: 0;
            color: black;
        }

        .address-sub {
            box-shadow: 0 0 6px rgb(66, 136, 121);
            margin-right: 5px;
            padding: 0 10px;
        }
    </style>
</head>

<body class="royal_preloader">
    <div id="page" class="site">
        <%- include("partials/navbar") %>

        <div id="content" class="site-content">

            <div class="container">
                <img src="/images/aboutUS.jpeg" class="image-fluid" alt="about us image">
                <h3 style="padding-top: 30px;">About Us</h3>
                <p>
                    Rapport is the best enabling partner for your compliance with law. We offer Statutory Compliance
                    Service related to
                    labour laws that enable the corporate partners to focus on their core business while ensuring them
                    to be law abiding
                    entities.
                </p>
                <p>
                    Rapport HR Solutions provide a technology motivated and progressive concept platform to impart
                    compliance consultancy
                    services in India which helps small, medium and large businesses to fulfill all compliance
                    requirements of Indian Laws.
                </p>
                <p>
                    Rapport takes care of all aspects of HR & statutory compliances starting from obtaining the license
                    to handling
                    inspections by government officials.
                </p>
                <p>
                    Maintaining the registers, records and filing returns along with due payments will be taken care of
                    by Rapport. We also
                    facilitate the client to obtain the necessary exemptions for un-interrupted and hassle-free
                    operations. We will apprise
                    the client of any changes in the legislations for appropriate and timely actions to ensure complete
                    compliance.
                </p>
                <p>
                    Internally at Rapport HR, we have developed unique and customized working methods, which are
                    committed to ensure
                    error-free service delivery, faster execution and quick response time to the clients.
                </p>
                <div class="ourVision">
                    <h3 class="vision-h3">
                        Our Vision
                    </h3>
                    <p>
                        The pursuit of exceptional personnel and utmost Customer Satisfaction is a strength we treasure
                        and a tradition that we
                        strive to nurture and maintain.
                    </p>
                </div>
                <div class="setsUsApart">
                    <h3 class="setsUsApart-h3">
                        What Sets Us Apart
                    </h3>
                    <ul>
                        <li>
                            Get Real Time Updates of your service request with our Cloud Solution.
                        </li>
                        <li>
                            24/7 Customer Support to Assist You Pan India
                        </li>
                        <li>
                            Managed by a team of professionals with over 10 years of practical experience
                        </li>
                        <li>
                            Served over 4000+ clients and still counting, with the highest percentage of repeat and
                            regular clients.
                        </li>
                        <li>
                            You have outsourced your work to us, we don’t outsource it further!
                        </li>
                        <li>
                            100% Money back guarantee if not satisfied.
                        </li>
                    </ul>
                </div>
                <div class="address">
                    <div class="row">
                        <div class="col-lg-6 ">
                            <div class="address-sub">
                                <p class="title">Pune</p>
                                <p class="desc">
                                    Jay Ganesh Vision ‘B’ wing 2nd Floor, <br> Maple High Street
                                    Pune- Mumbai Road, Akurdi, Near Fame Cinema,<br>
                                    Maharashtra 411035
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 ">
                            <div class="address-sub">
                                <p class="title">Bhopal</p>
                                <p class="desc">
                                    Shop No 25, 2nd Floor, <br>
                                    Opp Ashima Mall, HB <br>
                                    Bhopal, MP - 462026
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12 ">
                            <div class="address-sub">
                                <p class="title">
                                    HO
                                </p>
                                <p class="desc">

                                    S-214, Pandav Nagar <br>
                                    New Delhi – 110092
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12 ">
                            <div class="address-sub">
                                Email: support@rapporthr.in <br>
                                Phone: +91 9599553911 <br>
                                WhatsApp: +91 9599553911 <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <%- include("partials/footer") %>
    </div><!-- #page -->
    <a id="back-to-top" href="#" class="show"><i class="flaticon-up-arrow"></i></a>
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/easypiechart.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/header-mobile.js"></script>
    <script src="js/royal_preloader.min.js"></script>
    <script>
        window.jQuery = window.$ = jQuery;
        (function ($) {
            "use strict";
            //Preloader
            Royal_Preloader.config({
                mode: 'logo',
                logo: '/images/2d-pnd.png',
                logo_size: [250, 75],
                showProgress: false,
                showPercentage: true,
                text_colour: '#000000',
                background: '#ffffff'
            });
        })(jQuery);
    </script>
</body>

</html>