<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Rapport</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/royal-preload.css" />
    <style>
        .byline {
            color: black;
        }

        .entry-title a {
            font-size: 20px;
            font-weight: 500;
        }

        .rates-wages {
            display: flex;
            justify-content: space-around;
        }

        tr td,
        tr th {
            text-align: center !important;
        }

        .note {
            display: none;
        }
    </style>
</head>

<body class="royal_preloader">
    <div id="page" class="site">
        <%- include("partials/navbar") %>

        <div id="content" class="site-content">
            <div class="page-header flex-middle">
                <div class="container">
                    <div class="inner flex-middle">
                        <h1 class="page-title">Select the state!</h1>
                        <ul id="breadcrumbs" class="breadcrumbs none-style">
                            <li><a href="/">Home</a></li>
                            <li class="active">Minimum Wages State select!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <table class="table container">

            <table class="table table-bordered-new bg_blue">
                <tbody>
                    <tr>
                        <td colspan="3" title="Minimum Wages for Central">

                            <a style="cursor:pointer" title="Minimum Wages for Central" href="/minimumWages/central">
                                Central </a>
                            <br>
                            <div class="note">Effective date:1st Oct, 2020</div>
                        </td>
                    </tr>


                    <tr>
                    </tr>
                    <tr>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Andaman and Nicobar Islands"
                                href="/minimumWages/andaman-and-nicobar-islands">
                                Andaman and Nicobar Islands </a>
                            <br>
                            <div class="note">Effective date:1st Jul, 2020</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Andhra Pradesh"
                                href="/minimumWages/andhra-pradesh">
                                Andhra Pradesh </a>
                            <br>
                            <div class="note">Effective date:1st Oct, 2020</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Arunachal Pradesh"
                                href="/minimumWages/arunachal-pradesh">
                                Arunachal Pradesh </a>
                            <br>
                            <div class="note">Effective date:1st Apr, 2016</div>


                        </td>
                    </tr>
                    <tr>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Assam" href="/minimumWages/assam">
                                Assam </a>
                            <br>
                            <div class="note">Effective date:1st Jun, 2020</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Bihar" href="/minimumWages/bihar">
                                Bihar </a>
                            <br>
                            <div class="note">Effective date:1st Oct, 2020</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Chandigarh"
                                href="/minimumWages/chandigarh">
                                Chandigarh </a>
                            <br>
                            <div class="note">Effective date:1st Oct, 2019</div>


                        </td>
                    </tr>
                    <tr>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Chhattisgarh"
                                href="/minimumWages/chhattisgarh">
                                Chhattisgarh </a>
                            <br>
                            <div class="note">Effective date:1st Oct, 2020</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Dadra and Nagar Haveli"
                                href="/minimumWages/dadra-and-nagar-haveli">
                                Dadra and Nagar Haveli </a>
                            <br>
                            <div class="note">Effective date:1st Apr, 2020</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Daman and Diu"
                                href="/minimumWages/daman-and-diu">
                                Daman and Diu </a>
                            <br>
                            <div class="note">Effective date:1st Apr, 2020</div>


                        </td>
                    </tr>
                    <tr>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Delhi" href="/minimumWages/delhi">
                                Delhi </a>
                            <br>
                            <div class="note">Effective date:1st Apr, 2019</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Goa" href="/minimumWages/goa">
                                Goa </a>
                            <br>
                            <div class="note">Effective date:1st Apr, 2020</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Gujarat" href="/minimumWages/gujarat">
                                Gujarat </a>
                            <br>
                            <div class="note">Effective date:1st Oct, 2020</div>


                        </td>
                    </tr>
                    <tr>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Haryana" href="/minimumWages/haryana">
                                Haryana </a>
                            <br>
                            <div class="note">Effective date:1st Jul, 2020</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Himachal Pradesh"
                                href="/minimumWages/himachal-pradesh">
                                Himachal Pradesh </a>
                            <br>
                            <div class="note">Effective date:1st Apr, 2020</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Jammu and Kashmir"
                                href="/minimumWages/jammu-and-kashmir">
                                Jammu and Kashmir </a>
                            <br>
                            <div class="note">Effective date:1st Nov, 2017</div>


                        </td>
                    </tr>
                    <tr>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Jharkhand"
                                href="/minimumWages/jharkhand">
                                Jharkhand </a>
                            <br>
                            <div class="note">Effective date:1st Apr, 2020</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Karnataka"
                                href="/minimumWages/karnataka">
                                Karnataka </a>
                            <br>
                            <div class="note">Effective date:1st Apr, 2020</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Kerala" href="/minimumWages/kerala">
                                Kerala </a>
                            <br>
                            <div class="note">Effective date:1st Sep, 2020</div>


                        </td>
                    </tr>
                    <tr>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Madhya Pradesh"
                                href="/minimumWages/madhya-pradesh">
                                Madhya Pradesh </a>
                            <br>
                            <div class="note">Effective date:1st Oct, 2020</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Maharashtra"
                                href="/minimumWages/maharashtra">
                                Maharashtra </a>
                            <br>
                            <div class="note">Effective date:1st Jul, 2020</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Manipur" href="/minimumWages/manipur">
                                Manipur </a>
                            <br>
                            <div class="note">Effective date:27th Dec, 2016</div>


                        </td>
                    </tr>
                    <tr>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Meghalaya"
                                href="/minimumWages/meghalaya">
                                Meghalaya </a>
                            <br>
                            <div class="note">Effective date:1st Oct, 2020</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Mizoram" href="/minimumWages/mizoram">
                                Mizoram </a>
                            <br>
                            <div class="note">Effective date:1st Apr, 2016</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Nagaland" href="/minimumWages/nagaland">
                                Nagaland </a>
                            <br>
                            <div class="note">Effective date:14th Jun, 2019</div>


                        </td>
                    </tr>
                    <tr>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Odisha" href="/minimumWages/odisha">
                                Odisha </a>
                            <br>
                            <div class="note">Effective date:1st Oct, 2020</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Puducherry"
                                href="/minimumWages/puducherry">
                                Puducherry </a>
                            <br>
                            <div class="note">Effective date:1st Jan, 2020</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Punjab" href="/minimumWages/punjab">
                                Punjab </a>
                            <br>
                            <div class="note">Effective date:1st Sep, 2019</div>


                        </td>
                    </tr>
                    <tr>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Rajasthan"
                                href="/minimumWages/rajasthan">
                                Rajasthan </a>
                            <br>
                            <div class="note">Effective date:1st May, 2019</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Sikkim" href="/minimumWages/sikkim">
                                Sikkim </a>
                            <br>
                            <div class="note">Effective date:1st Jul, 2017</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Tamil Nadu"
                                href="/minimumWages/tamil-nadu">
                                Tamil Nadu </a>
                            <br>
                            <div class="note">Effective date:1st Apr, 2020</div>


                        </td>
                    </tr>
                    <tr>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Telangana"
                                href="/minimumWages/telangana">
                                Telangana </a>
                            <br>
                            <div class="note">Effective date:1st Oct, 2020</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Tripura" href="/minimumWages/tripura">
                                Tripura </a>
                            <br>
                            <div class="note">Effective date:1st Apr, 2020</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Uttar Pradesh"
                                href="/minimumWages/uttar-pradesh">
                                Uttar Pradesh </a>
                            <br>
                            <div class="note">Effective date:1st Oct, 2020</div>


                        </td>
                    </tr>
                    <tr>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for Uttarakhand"
                                href="/minimumWages/uttarakhand">
                                Uttarakhand </a>
                            <br>
                            <div class="note">Effective date:1st Oct, 2020</div>


                        </td>
                        <td>

                            <a style="cursor:pointer" title="Minimum Wages for West Bengal"
                                href="/minimumWages/west-bengal">
                                West Bengal </a>
                            <br>
                            <div class="note">Effective date:1st Jul, 2020</div>


                        </td>

                    </tr>
                </tbody>
            </table>
        </table>




    </div><!-- #page -->
    <%- include("partials/footer") %>
    <a id="back-to-top" href="#" class="show"><i class="flaticon-up-arrow"></i></a>
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/easypiechart.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/header-mobile.js"></script>
    <script src="js/royal_preloader.min.js"></script>
    <script>
        window.jQuery = window.$ = jQuery;
        (function ($) {
            "use strict";
            //Preloader
            Royal_Preloader.config({
                mode: 'logo',
                logo: '/images/logo.svg',
                logo_size: [160, 75],
                showProgress: true,
                showPercentage: true,
                text_colour: '#000000',
                background: '#ffffff'
            });
        })(jQuery);

        let state_table = $("#state-table");
        let state = ["Andhra Pradesh",
            "Arunachal Pradesh",
            "Assam",
            "Bihar",
            "Chhattisgarh",
            "Goa",
            "Gujarat",
            "Haryana",
            "Himachal Pradesh",
            "Jammu and Kashmir",
            "Jharkhand",
            "Karnataka",
            "Kerala",
            "Madhya Pradesh",
            "Maharashtra",
            "Manipur",
            "Meghalaya",
            "Mizoram",
            "Nagaland",
            "Odisha",
            "Punjab",
            "Rajasthan",
            "Sikkim",
            "Tamil Nadu",
            "Telangana",
            "Tripura",
            "Uttarakhand",
            "Uttar Pradesh",
            "West Bengal",
            "Andaman and Nicobar Islands",
            "Chandigarh",
            "Dadra and Nagar Haveli",
            "Daman and Diu",
            "Delhi",
            "Lakshadweep",
            "Puducherry"]
        state.forEach(function (s) {
            state_table.append(``)
        })    
    </script>
</body>

</html>