<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Rapport </title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/owl.theme.css" />
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css" />

    <link rel="stylesheet" href="/css/style.css" />
    <% if(!passedMessage){ %>
    <link rel="stylesheet" href="/css/royal-preload.css" />
    <% } %>
    <!-- REVOLUTION SLIDER CSS -->
    <link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/settings.css">
    <!-- REVOLUTION NAVIGATION STYLE -->
    <link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/navigation.css">
    <!-- styles for vertical tabs -->
    <style>
        #content {
            padding-bottom: 100px;
        }

        .alert {
            border-radius: 0;
            position: absolute;
            top: 5px;
        }

        .main-form {
            position: relative;
        }

        @media (max-width: 956px) {
            .forgot-password {
                text-align: left;

            }

            .alert {

                top: 20px;
                right: 10px;
            }

            #content {
                padding-bottom: 0;
            }


        }
    </style>
</head>

<body class="royal_preloader">
    <div id="page" class="site">
        <%- include("./partials/navbar") %>

        <div id="content" class="site-content">
            <section class="contact-page">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-9">
                            <form action="/register/customer" method="post" class="wpcf7">
                                <div class="main-form">
                                    <% if(passedMessage){ %>
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <strong>Oops!</strong> <%= passedMessage %>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <% } %>
                                    <h2>Register</h2>
                                    <p class="font14">Your email address will not be published. Required fields are
                                        marked *
                                    </p>
                                    <div class="row">
                                        <p class="col-lg-6 col-md-6 col-sm-12">
                                            <input type="text" name="first_name" value="" size="40" class=""
                                                aria-required="true" aria-invalid="false" placeholder="First Name *"
                                                required>
                                        </p>
                                        <p class="col-lg-6 col-md-6 col-sm-12">
                                            <input type="text" name="last_name" value="" size="40" class=""
                                                aria-required="true" aria-invalid="false" placeholder="Last Name *"
                                                required>
                                        </p>
                                        <p class="col-lg-6 col-md-6 col-sm-12">
                                            <input type="email" name="username" value="" size="40" class=""
                                                aria-required="true" aria-invalid="false" placeholder="Your Email *"
                                                required>
                                        </p>
                                        <p class="col-lg-6 col-md-6 col-sm-12">
                                            <input type="number" name="contact_number" value="" size="40" class=""
                                                aria-required="true" aria-invalid="false"
                                                placeholder=" Contact Information ">
                                        </p>
                                        <p class="col-lg-6 col-md-6 col-sm-12">
                                            <input type="password" name="password" value="" size="40" class=""
                                                aria-required="true" aria-invalid="false" placeholder="Password *"
                                                required>
                                        </p>
                                        <p class="col-lg-6 col-md-6 col-sm-12">
                                            <input type="password" name="repassword" value="" size="40" class=""
                                                aria-required="true" aria-invalid="false"
                                                placeholder="Retype Password *" required>
                                        </p>

                                    </div>
                                    <p><button type="submit" class="octf-btn octf-btn-light">Register</button>
                                    </p>
                                    <p>Already a user? <a href="/login/customer">Login</a></p>

                                </div>
                            </form>
                        </div>
                        <div class="col-lg-3">
                            <div>
                                <div class="ot-heading">
                                    <span>// contact details</span>
                                    <h2 class="main-heading">Contact us</h2>
                                </div>
                                <div class="space-5"></div>
                                <div class="contact-info box-style1">
                                    <i class="flaticon-world-globe"></i>
                                    <div class="info-text">
                                        <h6>Our Address:</h6>
                                        <p>S-214, Pandav Nagar
                                            New Delhi – 110092 </p>
                                    </div>
                                </div>
                                <div class="contact-info box-style1">
                                    <i class="flaticon-envelope"></i>
                                    <div class="info-text">
                                        <h6>Our Mailbox:</h6>
                                        <p>support@rapporthr.in</p>
                                    </div>
                                </div>
                                <div class="contact-info box-style1">
                                    <i class="flaticon-phone-1"></i>
                                    <div class="info-text">
                                        <h6>Our Phone:</h6>
                                        <p>+91 9599553911</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
        <%- include("partials/footer") %>


        <!-- #site-footer -->
    </div><!-- #page -->
    <a id="back-to-top" href="#" class="show"><i class="flaticon-up-arrow"></i></a>
    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/easypiechart.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/header-mobile.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- REVOLUTION JS FILES -->

    <script src="plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="plugins/revolution/revolution/js/extensions/revolution-plugin.js"></script>

    <!-- REVOLUTION SLIDER SCRIPT FILES -->
    <script src="/js/rev-script-2.js"></script>
    <script src="/js/royal_preloader.min.js"></script>
    <script>
        window.jQuery = window.$ = jQuery;
        (function ($) {
            "use strict";
            //Preloader
            Royal_Preloader.config({
                mode: 'logo',
                logo: '/images/2d-pnd.png',
                logo_size: [250, 75],
                showProgress: false,
                showPercentage: true,
                text_colour: '#000000',
                background: '#ffffff'
            });
        })(jQuery);
    </script>
</body>

</html>