<!DOCTYPE html>
<html>

<%- include("partials/head.ejs") %>

<body class="panel-data">
    <!-- Including navbar and sidebar from the partials -->

    <div class="panel-content">
        <div class="lgn-wrp grysh">
            <div class="bg-img" style="background-image: url(images/resource/bg-img1.png);"></div>
            <div class="error-inner">
                <h2 class="blue-clr">404 <span>Error</span></h2>
                <h4>Sorry! The Page Not Found <span class="green-clr">;(</span></h4>
                <p>The Link You Followed Probably Broken, or the page has been removed...</p>

                <a class="blue-bg brd-rd5" href="/adminpanel" title="">Return To Home</a>
            </div>

        </div><!-- Login Wrapper -->
    </div><!-- Panel Content -->
    <%- include("partials/footerJs.ejs") %>
</body>

</html>